/*
* Globals
*/

/* Links */
a.nav-link,
.masthead a,
a.nav-link:focus,
a.nav-link:hover {
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}

/*
 * Base structure
 */

html
{
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    height: 100%;
    background-color: transparent;
    /*  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
    /*  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

hr {
    border-top: 1px solid #a7a7a7;
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: 2px;
}

.masthead-brand-link {
    transition: opacity .2s ease-in-out;
}

.masthead-brand-link:hover {
    text-decoration: none;
    opacity: 0.7;
    color: #fff;
}

.masthead-brand-link-fluid {
    position: absolute;
    top: 1rem;
}

.nav-link {
    transition: border-bottom-color .2s ease-in-out, color .2s ease-in-out;
}

.nav-masthead .nav-link {
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    text-decoration: none;
    position: relative;
}

.nav-masthead .nav-link:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 70%;
    background: rgba(255,255, 255, .25);
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.nav-masthead .nav-link:hover:after,
.nav-masthead .nav-link.active:after,
.nav-masthead .nav-link:focus:after {
    background: #fff;
    width: 80%;
}

.nav-masthead .nav-link:last-of-type {
    margin-right: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.nav-aside li {
    list-style: none;
}

.nav-aside .nav-link {
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-aside .nav-link:hover,
.nav-aside .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-aside .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-aside .active {
    color: #fff;
    border-bottom-color: #fff;
}

.nav-footer {
    display: flex;
}

.nav-footer .nav-link {
    padding: .25rem 0;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .1rem solid transparent;
}

.nav-footer .nav-link:hover,
.nav-footer .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-footer .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-footer .active {
    color: #fff;
    border-bottom-color: #fff;
}

/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}

.card {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, .5);
}

.fluid-hero-img {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}


.default-hero-img {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: blur(10px) brightness(50%);
    -webkit-filter: blur(10px) brightness(50%);

}

.fluid-content {
    margin-top: 70vh;
    background-color: #333;
    min-height: 100vh;
}


.container-content {
    background-color: #333;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, .6);
    min-height: 100vh;
}

html.scroll-200 .scroll-down-arrow {
    display: none;
}

html:not(.ready) .masthead-brand-link-container {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.masthead-brand-link-container {
    opacity: 1;
    transition: all .2s ease-in-out;
    height: auto;
}

html:not(.scroll-200) .masthead-brand-link-container {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.scroll-down-arrow {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
}

.scroll-down-link {
    content: '';
    cursor:pointer;
    height: 60px;
    width: 80px;
    margin: 0px 0 0 -40px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    top: 57vh;
    color: #FFF;
    text-align: center;
    font-size: 70px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation:    fade_move_down 2s ease-in-out infinite;
    animation:         fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes fade_move_down {
    0%   { transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,20px); opacity: 0; }
}

@media (min-width: 992px) {
    .fluid-content {
        margin-top: calc(100vh - 70px);
    }
    .scroll-down-link {
        top: calc(100vh - 170px);
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
}
